:root {
  --main-color: #422362;
  --lblue: #CFDDE2;
  --main-font: 'Open Sans', sans-serif;
  --background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #000;
  transition: 0.4s opacity, 0.4s -webkit-transform;
  transition: 0.4s transform, 0.4s opacity;
  transition: 0.4s transform, 0.4s opacity, 0.4s -webkit-transform;
}

:-ms-input-placeholder {
  opacity: 1;
  color: #000;
  transition: 0.4s opacity, 0.4s -webkit-transform;
  transition: 0.4s transform, 0.4s opacity;
  transition: 0.4s transform, 0.4s opacity, 0.4s -webkit-transform;
}

::-ms-input-placeholder {
  opacity: 1;
  color: #000;
  transition: 0.4s opacity, 0.4s -webkit-transform;
  transition: 0.4s transform, 0.4s opacity;
  transition: 0.4s transform, 0.4s opacity, 0.4s -webkit-transform;
}

::placeholder {
  opacity: 1;
  color: #000;
  transition: 0.4s opacity, 0.4s -webkit-transform;
  transition: 0.4s transform, 0.4s opacity;
  transition: 0.4s transform, 0.4s opacity, 0.4s -webkit-transform;
}

::selection {
  background: var(--main-color);
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 3px;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.65;
  color: #828282;
  font-family: var(--main-font);
  font-weight: 400;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  z-index: 222;
  left: 50%;
  height: 100%;
  width: 1px;
  background: red;
}

a, button {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  color: var(--main-color);
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

strong, b {
  color: #000;
  font-weight: 500;
}

ul {
  list-style: none;
}

input,
textarea,
select {
  background: transparent;
  width: 100%;
  display: block;
  padding: 5px 0;
  font-size: 16px;
  font-family: var(--main-font);
  font-weight: 300;
  line-height: normal;
  border: none;
  outline: none;
  color: #525252;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: var(--lblue);
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: var(--lblue);
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder {
  color: var(--lblue);
  opacity: 1;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--lblue);
  opacity: 1;
}

textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 32px;
  height: 32px;
}

input[type='radio'],
input[type='checkbox'],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  cursor: pointer;
}

select {
  background: url("../img/arrow-down.svg") no-repeat right 10px center/15px;
  padding-right: 30px;
}

input:focus::-webkit-input-placeholder {
  -webkit-transform: translateX(9px);
          transform: translateX(9px);
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  transform: translateX(9px);
  opacity: 0;
}

input:focus::-ms-input-placeholder {
  transform: translateX(9px);
  opacity: 0;
}

input:focus::placeholder {
  -webkit-transform: translateX(9px);
          transform: translateX(9px);
  opacity: 0;
}

input[type='checkbox'], input[type='radio'] {
  background: #fff;
  position: relative;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  transition: 0.2s;
}

input[type='checkbox'] {
  border-radius: 2px;
}

input[type='checkbox']::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  width: 6px;
  height: 12px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg) scale(0);
          transform: rotate(45deg) scale(0);
  transition: 0.2s;
}

input[type='checkbox']:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

input[type='checkbox']:checked::before {
  -webkit-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
}

input[type='radio'] {
  border-radius: 50%;
}

input[type='radio']::before {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  top: 3px;
  left: 3px;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: inherit;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: 0.2s;
}

input[type='radio']:checked {
  border-color: var(--main-color);
  background-color: #fff;
}

input[type='radio']:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1340px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

/*==============================================================
						HEADER START */
/*============================================================= */
.header {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 55px;
  z-index: 3;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.header__inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__lside {
  flex: 1;
}

.header__rside {
  flex: 1;
}

.header__rside .header__nav {
  justify-content: flex-end;
}

.header__logo {
  flex-shrink: 0;
  width: 300px;
  height: 35px;
  margin: 0 20px;
}

.header__logo a {
  display: block;
}

.header__logo a img {
  display: block;
}

.header__nav {
  display: flex;
}

.header__nav > li > a {
  display: inline-flex;
  align-items: center;
  padding: 15px;
  color: var(--main-color);
  font-size: 18px;
  line-height: 1.4;
}

.header__nav > li > a span {
  transition: 0.3s border;
  border-bottom: 1px solid transparent;
}

.header__nav > li:hover span {
  border-color: var(--main-color);
}

.header__tel {
  margin-right: 25px;
}

.header__tel span {
  color: #DCCADC;
  font-weight: 300;
}

.header__ddown {
  position: relative;
}

.header__ddown > a::after {
  content: "";
  background: url("../img/elements/arrow--down.svg") no-repeat center/contain;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}

.header__ddown > ul {
  display: none;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100px;
  min-width: 185px;
  margin-top: -1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  -webkit-animation: flipInY 0.9s both;
          animation: flipInY 0.9s both;
}

.header__ddown > ul > li > a {
  background-color: #fff;
  display: block;
  padding: 6px 20px;
  color: var(--main-color);
  font-size: 18px;
  transition: 0.3s background;
}

.header__ddown > ul > li > a:hover {
  background-color: #F5E8F3;
}

.header__ddown:hover > ul {
  display: block;
}

.header__ddown:hover > a::after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

/*============= BUTTONS STYLE ============= */
.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  color: #fff;
  line-height: normal;
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.5s;
}

.btn--primary {
  -webkit-clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
          clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
  background: var(--lblue);
  color: #525252;
}

.btn--primary:hover {
  background: var(--main-color);
  color: #fff;
}

/*============= TITLE STYLE ============= */
.title {
  position: relative;
  display: block;
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
  line-height: 3;
  font-weight: normal;
  color: var(--main-color);
}

.title::before {
  content: attr(data-title);
  position: absolute;
  left: 0;
  right: 0;
  font-size: 41px;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0.04;
}

/*============= SOCIAL STYLE START ============= */
.social {
  display: inline-flex;
  align-items: center;
}

.social li {
  width: 25px;
  height: 25px;
  margin: 0 17px;
  border: 1px solid var(--main-color);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: 0.3s ease;
}

.social li:hover {
  box-shadow: inset 0 0 3px var(--main-color);
}

.social li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% 65%;
  font-size: 0;
}

.social__youtube {
  background-image: url(../img/icons/ico-youtube.svg);
}

.social__facebook {
  background-image: url(../img/icons/ico-facebook.svg);
}

.social__insta {
  background-image: url(../img/icons/ico-instagram.svg);
}

.social__vk {
  background-image: url(../img/icons/ico-vkontakte.svg);
}

/*============= NAVIGATION STYLE START ============= */
.navigation {
  margin-top: 30px;
}

.navigation li a {
  display: inline-block;
  padding: 8px;
  font-size: 24px;
  color: var(--main-color);
}

.navigation li a::after, .navigation li a::before {
  background: var(--main-color);
  width: 4px;
  height: 4px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: 0.3s;
}

.navigation li a:hover::after, .navigation li a:hover::before {
  -webkit-transform: scale(2) rotate(45deg);
          transform: scale(2) rotate(45deg);
}

.navigation--lside li a::after {
  content: "";
  margin-left: 15px;
}

.navigation--rside li a::before {
  content: "";
  margin-right: 15px;
}

/*==============================================================
						COMMON STYLE START */
/*============================================================= */
.main {
  padding-top: 55px;
  min-height: calc(100vh - 220px);
}

/*============= MODIFICATORS ============= */
.--lblue {
  --background: #F1F6F8;
  background: var(--background);
}

.--pleft {
  -webkit-clip-path: polygon(0 0, 100% 135px, 100% 100%, 0 calc(100% - 135px));
          clip-path: polygon(0 0, 100% 135px, 100% 100%, 0 calc(100% - 135px));
  padding: 135px 0 215px 0;
}

.--pright {
  -webkit-clip-path: polygon(0 135px, 100% 0, 100% calc(100% - 135px), 0 100%);
          clip-path: polygon(0 135px, 100% 0, 100% calc(100% - 135px), 0 100%);
  padding: 135px 0 215px 0;
}

/*============= HOME - SECTION 1 ============= */
.base__inner {
  min-height: 1000px;
  display: flex;
}

.base__part {
  display: flex;
  position: relative;
  background: no-repeat center top/cover;
  min-height: 100%;
  flex: 0 0 50%;
  padding-bottom: 57.5px;
}

.base__part::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 115px;
  width: 100%;
  background-image: linear-gradient(to top left, #fff 50%, rgba(255, 255, 255, 0) 50.5%), linear-gradient(to bottom left, rgba(255, 255, 255, 0) 50%, #F1F6F8 50.5%);
  background-size: 200% 100%;
}

.base__part--wedding {
  background-image: url("../img/base__wedding.jpg");
  justify-content: flex-end;
  border-right: 2px solid #fff;
}

.base__part--wedding .base__title {
  right: 0;
  letter-spacing: 0.7em;
}

.base__part--wedding .base__nav {
  padding-right: 65px;
  text-align: right;
  background-image: linear-gradient(to left bottom, rgba(241, 224, 238, 0.7) 50%, rgba(255, 255, 255, 0) 50.1%);
}

.base__part--event {
  background-image: url("../img/base__events.jpg");
  border-left: 2px solid #fff;
}

.base__part--event .base__title {
  left: 70px;
  color: #fff;
  letter-spacing: 0.08em;
}

.base__part--event .base__nav {
  padding-left: 65px;
  background-image: linear-gradient(to right bottom, rgba(188, 204, 236, 0.7) 50%, rgba(255, 255, 255, 0) 50.1%);
}

.base__part--event::after {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.base__title {
  position: absolute;
  bottom: 35%;
  font-weight: 300;
  font-size: 72px;
  color: #422362;
  z-index: 2;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.base__nav {
  position: relative;
  height: 100%;
  width: 390px;
  padding-top: 55px;
  z-index: 1;
}

/*============= HOME - SECTION 2 ============= */
.advant__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.advant__item {
  flex: 0 1 33.3%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 60px;
}

.advant__item:hover .advant__ico {
  -webkit-filter: contrast(1);
          filter: contrast(1);
}

.advant__ico {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  -webkit-filter: contrast(0);
          filter: contrast(0);
  transition: 0.3s -webkit-filter;
  transition: 0.3s filter;
  transition: 0.3s filter, 0.3s -webkit-filter;
}

.advant__txt {
  font-size: 14px;
  color: #000;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advant__btn {
  margin-top: auto;
}

/*============= HOME - SECTION 4 ============= */
.owner {
  position: relative;
  padding-bottom: 80px;
}

.owner__title {
  margin-bottom: 15px;
}

.owner__photo {
  height: 650px;
  -webkit-clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
          clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.owner__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.owner__info {
  margin-top: 60px;
}

.owner__caption {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #525252;
  margin-bottom: 15px;
}

.owner__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.owner__contacts .social {
  margin: 25px 0;
}

.owner__contacts .social li {
  width: 30px;
  height: 30px;
}

/*============= HOME - SECTION 5 ============= */
.feedback__title {
  margin-bottom: 50px;
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  align-items: end;
}

.feedback__label {
  display: block;
  color: #525252;
}

.feedback__label--textarea {
  grid-column: 1/-1;
}

.feedback__label--error {
  color: red;
}

.feedback__label--error .feedback__bar {
  background: red;
}

.feedback__label--error .feedback__bar::before, .feedback__label--error .feedback__bar::after {
  width: 50%;
  background: red;
}

.feedback__field:focus ~ .feedback__bar::before,
.feedback__field:focus ~ .feedback__bar::after {
  width: 50%;
}

.feedback__highlight {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.feedback__bar {
  position: relative;
  display: block;
  background: var(--lblue);
  width: 100%;
  height: 1px;
}

.feedback__bar::before, .feedback__bar::after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: var(--main-color);
  transition: 0.2s width ease;
}

.feedback__bar::before {
  left: 50%;
}

.feedback__bar::after {
  right: 50%;
}

.feedback__btn {
  grid-column: 1/-1;
  justify-self: center;
}

.c1__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.c1__item {
  flex-basis: 31%;
  min-width: 350px;
  margin: 15px;
}

.c1__photo {
  width: 100%;
  height: 365px;
  margin-bottom: 15px;
  -webkit-clip-path: polygon(0% 5%, 5% 0, 100% 0, 100% 95%, 95% 100%, 0 100%);
          clip-path: polygon(0% 5%, 5% 0, 100% 0, 100% 95%, 95% 100%, 0 100%);
}

.c1__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c1__name {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1.2;
  color: #262626;
}

.c1__desc {
  font-size: 14px;
  color: #828282;
}

/*==============================================================
						FOOTER STYLE START */
/*============================================================= */
.footer {
  background: var(--main-color);
  margin-top: -135px;
  padding-top: 185px;
  padding-bottom: 30px;
  -webkit-clip-path: polygon(0 0, 100% 135px, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 135px, 100% 100%, 0 100%);
  color: var(--lblue);
}

.footer a {
  color: var(--lblue);
}

.footer__logo {
  width: 155px;
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.footer__contacts {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.footer__mail {
  margin-top: 25px;
}

.footer__copy {
  margin-top: auto;
  font-size: 12px;
  color: #401C49;
}

.footer__soc {
  text-align: center;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer__soc-title {
  margin-bottom: 15px;
  font-weight: 300;
  opacity: 0.3;
}

/*==============================================================
						ANIMATION`S START */
/*============================================================= */
@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
            transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
            transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
            transform: perspective(400px) rotateY(-5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}
@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
            transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
            transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
            transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
            transform: perspective(400px) rotateY(-5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-20deg);
            transform: perspective(400px) rotateX(-20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateX(10deg);
            transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateX(-5deg);
            transform: perspective(400px) rotateX(-5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
            transform: perspective(400px) rotateX(90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-20deg);
            transform: perspective(400px) rotateX(-20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotateX(10deg);
            transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotateX(-5deg);
            transform: perspective(400px) rotateX(-5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
