/*============= BUTTONS STYLE ============= */
.btn
	position: relative
	display: inline-flex
	justify-content: center
	align-items: center
	width: 300px
	height: 40px
	color: #fff
	line-height: normal
	font-family: var(--main-font), sans-serif
	font-size: 14px
	user-select: none
	transition: 0.5s
	&--primary
		clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px)
		background: var(--lblue)
		color: #525252
		&:hover
			background: var(--main-color)
			color: #fff

/*============= TITLE STYLE ============= */
.title
	position: relative
	display: block
	margin-top: 30px
	text-align: center
	font-size: 24px
	line-height: 3
	font-weight: normal
	color: var(--main-color)
	&::before
		content: attr(data-title)
		position: absolute
		left: 0
		right: 0
		font-size: 41px
		line-height: 1
		font-weight: 800
		text-transform: uppercase
		opacity: 0.04

/*============= SOCIAL STYLE START ============= */
.social
	display: inline-flex
	align-items: center
	li
		width: 25px
		height: 25px
		margin: 0 17px
		border: 1px solid var(--main-color)
		transform: rotate(-45deg)
		transition: 0.3s ease
		&:hover
			box-shadow: inset 0 0 3px var(--main-color)
		a
			width: 100%
			height: 100%
			display: flex
			justify-content: center
			align-items: center
			transform: rotate(45deg)
			background-repeat: no-repeat
			background-position: center
			background-size: 65% 65%
			font-size: 0
	&__youtube
		background-image: url(../img/icons/ico-youtube.svg)
	&__facebook
		background-image: url(../img/icons/ico-facebook.svg)
	&__insta
		background-image: url(../img/icons/ico-instagram.svg)
	&__vk
		background-image: url(../img/icons/ico-vkontakte.svg)


/*============= NAVIGATION STYLE START ============= */
.navigation
	margin-top: 30px
	li
		a
			display: inline-block
			padding: 8px
			font-size: 24px
			color: var(--main-color)
			&::after, &::before
				background: var(--main-color)
				width: 4px
				height: 4px
				display: inline-block
				vertical-align: middle
				transform: rotate(45deg)
				transition: 0.3s
			&:hover
				&::after, &::before
					transform: scale(2) rotate(45deg)
	&--lside
		li
			a
				&::after
					content: ""
					margin-left: 15px
	&--rside
		li
			a
				&::before
					content: ""
					margin-right: 15px

/*==============================================================
						COMMON STYLE START
/*============================================================= */
.main
	padding-top: 55px
	min-height: calc(100vh - 220px)

/*============= MODIFICATORS ============= */
.--lblue
	--background: #F1F6F8
	background: var(--background)
.--pleft
	clip-path: polygon(0 0, 100% 135px, 100% 100%, 0 calc(100% - 135px))
	padding: 135px 0 215px 0
.--pright
	clip-path: polygon(0 135px, 100% 0, 100% calc(100% - 135px), 0 100%)
	padding: 135px 0 215px 0


.screen
	position: relative
	padding-bottom: 25px
	&::after
		content: ""
		position: absolute
		bottom: 0
		background: url('../img/screen__jeverly.svg') no-repeat center
		background-size: 100% 100%
		width: 100%
		height: 70px
	&__inner
		min-height: 950px
		background: no-repeat center top/cover
		clip-path: polygon(100% 0, 100% 94%, 50% 100%, 0 94%, 0 0)
	&__content
		display: flex
		justify-content: flex-end
	&__title
		position: absolute
		text-align: center
		bottom: 35%
		font-weight: 300
		font-size: 72px
		letter-spacing: 2em
		text-indent: 2em
		text-align: center
		left: 0
		right: 0
		color: rgb(66, 35, 98)
		z-index: 2
		text-transform: uppercase
		user-select: none
	&__nav
		width: 390px
		padding-top: 55px
		text-align: right
		z-index: 1
		&::after
			content: ""
			position: absolute
			background-image: linear-gradient(-110deg, rgba(241, 224, 238, 0.7) 50%, rgba(255, 255, 255, 0) 50.1%)
			width: 45%
			height: 100%
			top: 0
			right: 0
			z-index: -1



/*============= HOME - SECTION 1 ============= */
.base
	&__inner
		min-height: 1000px
		display: flex
	&__part
		$mask-height: 115
		display: flex
		position: relative
		background: no-repeat center top/cover
		min-height: 100%
		flex: 0 0 50%
		padding-bottom: $mask-height / 2 + px
		&::after
			content: ""
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: $mask-height + px
			width: 100%
			background-image: linear-gradient(to top left, #fff 50%, rgba(255, 255, 255, 0) 50.5%), linear-gradient(to bottom left, rgba(255, 255, 255, 0) 50%, #F1F6F8 50.5%)
			background-size: 200% 100%
		&--wedding
			background-image: url('../img/base__wedding.jpg')
			justify-content: flex-end
			border-right: 2px solid #fff
			.base__title
				right: 0
				letter-spacing: 0.7em
		&--event
			background-image: url('../img/base__events.jpg')
			border-left: 2px solid #fff
			.base__title
				left: 70px
				color: #fff
				letter-spacing: 0.08em
			&::after
				transform: scale(-1, 1)
	&__title
		position: absolute
		bottom: 35%
		font-weight: 300
		font-size: 72px
		color: #422362
		z-index: 2
		text-transform: uppercase
		user-select: none
	&__nav
		position: relative
		height: 100%
		width: 390px
		padding-top: 55px
		z-index: 1
		&--lside
			padding-right: 65px
			text-align: right
			background-image: linear-gradient(to left bottom, rgba(241, 224, 238, 0.7) 50%,rgba(255,255,255,0) 50.1%)
		&--rside
			padding-left: 65px
			background-image: linear-gradient(to right bottom, rgba(188, 204, 236, 0.7) 50%,rgba(255,255,255,0) 50.1%)


/*============= HOME - SECTION 2 ============= */
.advant
	&__list
		display: flex
		flex-flow: row wrap
		justify-content: center
	&__item
		flex: 0 1 33.3%
		display: flex
		flex-flow: column wrap
		align-items: center
		margin-bottom: 60px
		&:hover
			.advant__ico
				filter: contrast(1)
	&__ico
		display: flex
		align-items: flex-end
		justify-content: center
		width: 100px
		height: 100px
		margin-bottom: 20px
		filter: contrast(0)
		transition: 0.3s filter
	&__txt
		font-size: 14px
		color: #000
		max-width: 300px
		margin: 0 auto
		margin-bottom: 30px
	&__btn
		margin-top: auto


/*============= HOME - SECTION 4 ============= */
.owner
	position: relative
	padding-bottom: 80px
	&__title
		margin-bottom: 15px
	&__photo
		height: 650px
		clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0)
		img
			width: 100%
			height: 100%
			object-fit: cover
	&__info
		margin-top: 60px
	&__caption
		font-size: 24px
		font-weight: normal
		text-align: center
		color: #525252
		margin-bottom: 15px
	&__desc

	&__contacts
		display: flex
		flex-direction: column
		align-items: center
		margin-top: 30px
		.social
			margin: 25px 0
			li
				width: 30px
				height: 30px

/*============= HOME - SECTION 5 ============= */
.feedback
	&__title
		margin-bottom: 50px
	&__form
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 25px
		align-items: end
	&__label
		display: block
		color: #525252
		&--textarea
			grid-column: 1/-1
		&--error
			color: red
			.feedback__bar
				background: red
				&::before, &::after
					width: 50%
					background: red
	&__field
		&:focus ~ .feedback__bar::before,
		&:focus ~ .feedback__bar::after
			width: 50%
	&__highlight
		position: relative
		user-select: none
	&__bar
		position: relative
		display: block
		background: var(--lblue)
		width: 100%
		height: 1px
		&::before, &::after
			content: ''
			height: 2px
			width: 0
			bottom: 0
			position: absolute
			background: var(--main-color)
			transition: 0.2s width ease
		&::before
			left: 50%
		&::after
			right: 50%
	&__btn
		grid-column: 1/-1
		justify-self: center


/*============= WEDDING - SECTION 1 ============= */
.organize
	background: #FEF5FB
	margin-top: -80px
	padding-top: 80px
	padding-bottom: 60px
	&__list
		display: flex
		flex-flow: row wrap
		justify-content: center
	&__item
		flex: 0 1 25%
		display: flex
		flex-flow: column wrap
		align-items: center
		&:hover
			.organize__ico
				filter: contrast(1)
	&__ico
		display: flex
		align-items: flex-end
		justify-content: center
		width: 100px
		height: 100px
		margin-bottom: 20px
		filter: contrast(0)
		transition: 0.3s filter
	&__txt
		font-size: 18px
		color: #525252
		max-width: 300px
		margin: 0 auto
		p
			margin-bottom: 35px