.gallery
    &__inner
        h1
            color: var(--main-color)
            line-height: 1.8
            font-size: 24px
            font-weight: 300
            text-align: center
            margin-top: 70px
        &__list-top
            display: flex
            flex-flow: row wrap
            justify-content: flex-start  